// Font
$font-family-primary: 'Roboto', sans-serif;
$font-family-additional: 'Raleway', sans-serif;
// Primary color
$color-white: #ffffff;
$color-black: #000000;
$color-primary: #212121;
$color-primary-blue: #2196f3;
// Bg color
$bg-color-hero-footer: #2f303a;
$bg-color-section: #f5f4fa;
$bg-color-speciality: rgba(47, 48, 58, 0.8);
$bg-color-social: rgba(255, 255, 255, 0.1);
$bg-color-overlay: rgba(0, 0, 0, 0.2);
$border-color-input-footer: rgba(255, 255, 255, 0.3);
// Color hover focus
$bg-color-hover-btn: #188ce8;
$bg-hover-portfolio-card: rgba(33, 150, 243, 0.9);
// border color
$color-header-border: #ececec;
$border-potfolio-card: #eeeeee;
$border-client: #afb1b8;
$color-border-inputs: rgba(33, 33, 33, 0.2);
// Text color
$color-text: #757575;
$color-footer-link: rgba(255, 255, 255, 0.6);
$color-textarea: rgba(117, 117, 117, 0.5);
// Animation
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 250ms;
