.header__menu {
  display: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: $color-primary;
  background-color: $color-white;

  &.is-open {
    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      padding: 40px 48px;
      z-index: 2;
      overflow-y: scroll;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.nav__list {
  flex-direction: column;
  align-items: flex-start;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }
}

.nav__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 50px;
  }
}

.nav__link {
  position: relative;
  display: block;
  font-size: 40px;
  line-height: 1.2;
  color: $color-primary;

  transition: color $duration $timing-function,
    background $duration $timing-function;

  &:hover,
  &:focus {
    color: $color-primary-blue;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.5;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.nav__link--active {
  color: $color-primary-blue;

  &.nav__link--active::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    background: $color-primary-blue;
    border-radius: 2px;
  }
}

.header-contacts {
  @media screen and (min-width: 768px) {
    margin-left: auto;
  }
}

.header-contacts__list {
  flex-direction: column-reverse;
  align-items: flex-start;

  @media screen and (min-width: 768px) {
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.header-contacts__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 64px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0;
    margin-right: 30px;
  }
}

.header-contacts__item--margin {
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 0;
  }
}

.nav__link--color {
  color: $color-text;

  @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: 1.2;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.nav__link--phone {
  @media screen and (max-width: 767px) {
    font-size: 34px;
    line-height: 1.2;
    color: $color-primary-blue;
  }

  @media screen and (max-width: 479px) {
    font-size: calc((100vw - 320px) / (480 - 320) * (34 - 26) + 26px);
  }
}

.header-contacts__icon {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline-block;
    margin-right: 8px;

    fill: currentColor;
  }
}
