.header-social__list {
  display: flex;
  margin: -10px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-social__item {
  position: relative;
  margin: 10px;
}

.header-social__item--after::after {
  content: '';
  position: absolute;
  top: 0;
  right: -10px;
  height: 100%;
  border-right: 1px solid $color-border-inputs;
}

.header-social__link {
  // font-size: 18px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: $color-primary-blue;

  @media screen and (max-width: 479px) {
    font-size: calc((100vw - 320px) / (480 - 320) * (18 - 10) + 10px);
  }
}
