.section__speciality {
  padding-top: 0;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.speciality__item {
  position: relative;
  width: 370px;
  margin-right: 30px;
}

.speciality__item--last {
  margin-right: 0;
}

.speciality__wrap {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 27px 0;
  background-color: $bg-color-speciality;
}

.speciality__text {
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $color-white;
}
