body {
  font-family: $font-family-primary;
  font-size: 14px;
  letter-spacing: 0.03em;

  margin: 0;
  padding: 0;

  color: $color-white;
  background-color: $color-white;
}

body.modal-open,
body.menu-open {
  overflow: hidden;
}

.section {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 30px;
  color: $color-primary;
}
